# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
.env

# Logs
*.log
app.log

# Downloaded PDFs and temporary files
pdfs/
*.pdf
*.zip

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db


devcontainer.json

./outputs
scraped_reports/pfd_reports_scraped_batch1_no_keyword_cat_Child_Death_from_2015_pages_1_to_5_20250714_111852.xlsx
scraped_reports/pfd_reports_scraped_batch1_no_keyword_cat_Product_related_deaths_pages_1_to_5_20250714_125835.xlsx
scraped_reports/pfd_reports_scraped_batch2_no_keyword_cat_Product_related_deaths_pages_6_to_7_20250714_130159.xlsx
network_graph.png
network_with_legend.html
theme_analysis_report_20250714_113033.html
theme_analysis_report_20250714_113112.html
theme_analysis_report_20250714_131348.html
theme_analysis_report_20250714_131638.html
theme_analysis_report_20250715_112805.html
outputs/network.html
scraped_reports/pfd_reports_scraped_batch1_no_keyword_cat_Accident_at_Work_and_Health_and_Safety_related_deaths_pages_1_to_4_20250718_162209.xlsx
scraped_reports/pfd_reports_scraped_batch1_no_keyword_cat_Accident_at_Work_and_Health_and_Safety_related_deaths_pages_1_to_4_20250718_162209.xlsx
theme_analysis_report_20250718_162813.html
theme_analysis_report_20250718_162925.html
