# Core dependencies
streamlit>=1.31.0
beautifulsoup4>=4.12.3
requests>=2.31.0
pandas>=2.2.0
urllib3>=2.2.0
lxml>=5.1.0
python-dateutil>=2.8.2
openpyxl>=3.1.2
pdfplumber>=0.10.3

# Topic Modeling and NLP
scikit-learn>=1.3.2
nltk>=3.8.1
numpy>=1.26.3
spacy>=3.7.2
pyLDAvis==2.1.2

# Visualization
plotly>=5.18.0
networkx>=3.2.1

# PDF handling
Pillow>=10.2.0
